@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   margin: 0px;
   padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.edge-para{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 40%!important;
}

.parallelogram{
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background: red;
  width: 40%!important;
}

@media (max-width: 768px) {
  .parallelogram{
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    width: 100%!important;
  }
  
}